<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>701106955388-6jejm20e8a6te9dotu1lj4h7sd6tfmru.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.701106955388-6jejm20e8a6te9dotu1lj4h7sd6tfmru</string>
	<key>API_KEY</key>
	<string>AIzaSyAboVYTSQO2bJ5S03fn9RShBdxjFp4MIxk</string>
	<key>GCM_SENDER_ID</key>
	<string>701106955388</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.canoncu.IsbakApp</string>
	<key>PROJECT_ID</key>
	<string>isbakapp-aebd1</string>
	<key>STORAGE_BUCKET</key>
	<string>isbakapp-aebd1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:701106955388:ios:e4ef77ed43ceaffc3d15f9</string>
</dict>
</plist>